@import "~bootstrap";
@import "~bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Carter+One');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush');